trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

stages:
- stage: Validate
  jobs:
  - job: ValidateJSON
    steps:
    - script: sudo apt-get update && sudo apt-get install -y jq
    - script: bash scripts/validate-json.sh

- stage: Convert
  dependsOn: Validate
  jobs:
  - job: ConvertToYAML
    steps:
    - script: sudo apt-get update && sudo apt-get install -y yq
    - script: bash scripts/convert-json-to-yaml.sh
    - publish: output
      artifact: kong-yaml
