trigger:
- main

pool:
  name: Default   # self-hosted agent

stages:

# ---------- Stage 1 Validate ----------
- stage: Validate
  jobs:
  - job: ValidateJSON
    steps:
    - checkout: self

    - script: bash scripts/validate-json.sh
      displayName: Validate JSON

# ---------- Stage 2 Convert ----------
- stage: Convert
  dependsOn: Validate
  jobs:
  - job: ConvertToYAML
    steps:
    - checkout: self

    - script: bash scripts/convert-json-to-yaml.sh
      displayName: Convert JSON to YAML

    - publish: apis
      artifact: converted-apis

# ---------- Stage 3 Deploy ----------
- stage: Deploy
  dependsOn: Convert
  jobs:
  - job: DeployToKong
    steps:
    - checkout: self

    - script: |
        deck sync --state apis/
      displayName: Deploy APIs to Kong using decK
